/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto&display=swap');

/* GLOBAL STYLES AND CLASSES */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background: rgb(255, 155, 155);
}

/* NAV */
nav {
    position: fixed;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60px;
    box-shadow: 0px 6px 6px rgba(100, 100, 100, 0.6);
    z-index: 1;
}
nav a {
    margin: 0 4rem 0 4rem;
    text-decoration: none;
    color: rgb(134, 134, 134);
    font-size: 1.3rem;
    transition: color 250ms;
}
nav a:hover {
    color: rgb(15, 15, 15)
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    top: 60px;
    height: 250px;
    background: rgb(134, 134, 134)
}
header h1 {
    color: white;
    font-weight: 300;
    font-size: 4rem;
    margin: 10px;
}
header h3 {
    font-weight: 400;
    color: white;
}
header .sub {
    color: white;
    font-size: .5rem;
}

/* MAIN */
main {
    margin: 80px 0 20px 0;
}
main .wrapper {
    max-width: 800px;
    padding: 0 10px 0 10px;
    margin: auto;
}
main * {
    text-align: center;
}
main > h2 {
    font-size: 2rem;
}
main p {
    font-size: 2rem;
    text-align: center;
}
main .indexul {
    list-style: none;
}
main .indexul li {
    margin-top: 1rem;
    font-size: 1.5rem;
}
main #indexhr {
    margin-top: 10px;
    border: 1px solid black;
}
main img {
    display: block;
    height: 20%;
    width: 20%;
    min-width: 250px;
    max-width: 300px;
    border-radius: 50%;
    margin: 1em auto 1em auto;
}
main .page {
    padding: .5in;
    max-width: 7.5in;
    border-radius: 10px;
    background-color: white;
    font-family: Calibri, sans-serif;
    text-align: center;
}
main .page h1 {
    font-size: 20pt;
}
main .page h2 {
    font-size: 14pt;
    text-align: left;
}
main .page h3 {
    font-size: 11pt;
    text-align: left;
}
main .page .info {
    text-align: center;
}
main .page .flexbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
main .page .flexbox .right {
    font-style: italic;
}
main .page p {
    font-size: 11pt;
    text-align: left;
}
main .page a {
    font-size: 11pt;
}
main .page hr {
    border-top: 1px solid black;
    border-bottom: none;
}
main .page br {
    text-align: left;
}
main .page .description {
    font-style: italic;
}
main .page .resumeul {
    margin-left: 1rem;
}
main .page .resumeul li {
    padding-left: 6px;
    font-size: 11pt;
    text-align: left;
}
main .page .break8 {
    line-height: 8pt;
}
main .page .break5 {
    line-height: 5pt;
}
main .fas, .fab {
    font-size: 2rem;
    display: block;
    margin: 5px 10px 0px 0px;
}
main  .contactflexbox {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

/* FOOTER */
footer {
    background: white;
    padding: 20px;
    font-weight: 300px;
}
footer h2 {
    color: rgb(134, 134, 134);
    text-align: center;
}
