@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
    padding: 50px
}

.main {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.link {
    color: #00BFFF;
    transition: color 500ms;
}

.link:hover {
    color: #54E7FF;
}